@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>teacherSectionList</title>
</head>
<body>
    <div class="container">
        <form class="form-inline" role="form" method="post" action="addSectionTeacherDb">
            <div class="form-group">
                <label for="sel1">Teacher</label>
                <select class="form-control"  style=" width:200px">
                    @foreach (var sub in ViewBag.teacher)
                    {
                        <option value="@sub.TeacherID">@sub.TeacherName</option>
                    }

                </select>
            </div>&nbsp;
            <div class="form-group">
                <label for="sel1">Level</label>
                <select class="form-control"  style="width:100px">
                    @foreach (var sub in ViewBag.section)
                    {
                        <option>@sub.SectionName</option>
                    }
                </select>
            </div>
            <input type="submit" value="Add" />
        </form>

    </div>
</body>
</html>
